<footer class="bg-dark text-light py-4 border-top border-secondary">
    <div class="container">
        <div class="row align-items-center">
            <!-- Copyright och varumärke -->
            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                <span class="small text-muted">&copy; {{ 'now' | date: "%Y" }} My Orchids. All rights reserved.</span>
            </div>
            <!-- Språkindikator och plattformsinfo -->
            <div class="col-md-6 text-center text-md-end">
                <span class="small text-muted">
                   
                </span>
            </div>
        </div>
    </div>
</footer>
